<div class="container">
    <div class="row center top-spaced-bar">
        <h2>Edit <%=current_user.business_name%></h2>
          <form action="/providers/<%=current_user.id%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input class="btn-large" type="submit" value="Delete My Account">
        
        </form> 
    </div>
   
        <form class="edit-form" action="/providers/<%=current_user.id%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="PATCH">
           <div class="row">
                <div class="input-field">
                    <input type="text" name="business_name" id="business_name" value="<%=current_user.business_name%>" class="validate">
                    <label for="business_name">Business Name</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field">
                    <input type="text" name="name" id="name" value="<%=current_user.name%>" class="validate">
                    <label for="name">Owner Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="email" name="email" id="email" value="<%=current_user.email%>" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field">
                    <input type="text" name="phone_number" id="phone_number" value="<%=current_user.phone_number%>" class="validate">
                    <label for="phone_number">Phone Number</label>
                </div>
            </div>
          
             <div class="row">
                <div class="input-field">
                    <input type="text" name="location" id="location" value="<%=current_user.location%>" class="validate">
                    <label for="location">Location</label>
                </div>
             </div>
              <div class="row center">
                <input class="btn-large" type="submit" value="Submit">
              </div>
        </form>

        <div class="row center">
        <h2>Current Services Offered: </h2>
        <a href="/services/new" class="btn">Add a new Service</a>
        </div>

        <div class="container services">
            <%current_user.services.each do |service|%>
                <div class="col s12 m6 center-align">
                <div class="card white service-card">
                    <span class="card-title"><u><%=service.name%></u></span>
                    <div class="card-content">
                        <p class="flex-text"><%=service.description%></p>
                        <h5>$<%='%.2f' % service.price.to_f%></h5>  
                    </div>
                    <div class="card-action">
                        <a class="btn" href="/services/<%=service.id%>/edit">Edit Service</a>
                    </div>
                </div>
            </div>
        <%end%>
        
        </div>
        





    </div>
   

</div>