<div class="container">
    <div class="row center top-spaced-bar">
       <div class="row center">
            <h2><%=current_user.business_name%></h2>
            <a class="btn-small" href="/providers/<%=current_user.id%>/edit">Edit My Info</a>
       </div> 

        <!--  Check to see if provider has any unconfirmed new appointments   -->

    <% if !@unconfirmed_appointments.empty?%>
        <p class="flow-text red-text">You have <%=@unconfirmed_appointments.size%> unconfirmed appointment(s)!</p> 
        <p class="red-text">Please confirm or deny these appointment(s) before moving forward.</p> 
        <%@unconfirmed_appointments.each do |appointment|%>
            <div class="col s12">
            <div class="card white appointment-card">
                <header class="container appointment-card-name">
                    <span class="card-title"><%=appointment.client.name%></span>
                    <p><%=appointment.date.strftime("%A %B %d, %Y")%></p>
                    <p><%=appointment.date.strftime("%l:%M %p")%></p>
                </header>
                <p><u>Services:</u></p>
                <%appointment.services.each do |service|%>
                <p><%=service.name.capitalize%> : $<%='%.2f' % service.price.to_f%></p>
                <%end%>
                <h5>Total: $<%='%.2f' % appointment.total.to_f%></h5>
                    <div class="card-action">
                        <a class="btn card-btn" href="/appointments/<%=appointment.id%>/confirm">Confirm</a>
                        <a class="btn card-btn" href="/appointments/<%=appointment.id%>/deny">Deny</a>
                        <a class="btn card-btn" href="/clients/<%=appointment.client.id%>">View Client</a>
                    </div>
            </div>
            </div>
        <% end %>

   <!--  Check to see if provider has any unconfirmed appointment changes   --> 
    <% elsif !@unconfirmed_changes.empty?%>
        <p class="flow-text red-text">You have <%=@unconfirmed_changes.size%> request(s) for appointment changes!</p> 
        <p class="red-text">Please confirm or deny these changes before moving forward.</p> 
        <%@unconfirmed_changes.each do |new_appointment|%>
        <%old_appointment = current_user.get_old_appointment(new_appointment)%>
            <div class="col s12">
            <div class="card white appointment-card">
                <header class="container appointment-card-name">
                    <span class="card-title"><%=new_appointment.client.name%></span>
                    <p class="red-text">Old date: <%=old_appointment.date.strftime("%A %B %d, %Y")%></p>
                    <p class="green-text">New date: <%=new_appointment.date.strftime("%A %B %d, %Y")%></p>
                    <p class="red-text">Old time: <%=old_appointment.date.strftime("%l:%M %p")%></p>
                    <p class="green-text">New time: <%=new_appointment.date.strftime("%l:%M %p")%></p>
                </header>
                <p><u>Old Services:</u></p>
                <%old_appointment.services.each do |service|%>
                <p class="red-text"><%=service.name.capitalize%> : $<%='%.2f' % service.price.to_f%></p>
                <%end%>
                <h5 class="red-text">Old Total: $<%='%.2f' % old_appointment.total.to_f%></h5>
                <p><u>New Services:</u></p>
                <%new_appointment.services.each do |service|%>
                <p class="green-text"><%=service.name.capitalize%> : $<%='%.2f' % service.price.to_f%></p>
                <%end%>
                <h5 class="green-text">New Total: $<%='%.2f' % new_appointment.total.to_f%></h5>
                    <div class="card-action">
                        <a class="btn card-btn" href="/appointments/<%=new_appointment.id%>/confirm_change">Confirm</a>
                        <a class="btn card-btn" href="/appointments/<%=new_appointment.id%>/deny">Deny</a>
                        <a class="btn card-btn" href="/clients/<%=old_appointment.client.id%>">View Client</a>
                    </div>
            </div>
            </div>
        <% end %>
    <% else %>
        <!--Check to see if provider has any new confirmations for changes they made to appointments-->
        <% if !@new_change_confirmations.empty?%>
            <div class="row center">
                <%@new_change_confirmations.each do |appointment|%>
                <p class="flow-text green-text">Your request to change your appointment with <%=appointment.client.name%> 
                on <%=appointment.date.strftime("%A %B %d, %Y")%> has been confirmed! You can see these changes
                reflected in your current appointments.
                </p>
                <%appointment.notified = true%>
                <%appointment.provider_request_change = false%>
                <%appointment.save%>
            </div>
            <% end %>
        <% end %>

        <!--Check to see if provider has any new denials for changes they made to appointments-->

        <% if !@new_change_denials.empty?%>
            <div class="row center">
                <%@new_change_denials.each do |appointment|%>
                <p class="flow-text red-text">Your request to change your appointment with <%=appointment.client.name%> 
                on <%=appointment.date.strftime("%A %B %d, %Y")%> has been denied. Please contact the client for more information.
                </p>
                <%appointment.destroy%>
            </div>
            <% end %>
         <% end %>
        <!--  Check to see if provider has any new cancellations   -->         

            <% if !@new_cancellations.empty?%>
                <div class="row center">
                    <%@new_cancellations.each do |appointment|%>
                    <p class="flow-text red-text">Your appointment with <%=appointment.client.name%> 
                    on <%=appointment.date.strftime("%A %B %d, %Y")%> has been cancelled by the client.
                    Please contact the client for more information.
                    </p>
                    <p class="flow-text red-text">Cancellation message:</p>
                    <p class="flow-text">"<%=appointment.cancellation_message%>"</p>
                    <%appointment.destroy%>
                </div>
                <% end %>
            <% end %>
        <!--  Check to see if provider has confirmed appointments and dislplay them  -->   
            <%if @confirmed_appointments.empty?%>
                <div class="row center">
                    <p class="flow-text">You don't currently have any appointments!</p>
                </div>
            <%else%>
                <div class="row center">
                        <p class="flow-text">Your upcoming appointments:</p>
                </div>

                <div class="row center">
                    <%@confirmed_appointments.each do |appointment|%>
                        <div class="col s12 m6 l6 xl6">
                            <div class="card small white">
                                <div class="card-content">
                                    <span class="card-title activator"><%=appointment.client.name%>
                                    <i class="material-icons right">more_vert</i></span>
                                    <br>
                                    <h6 class="flow-text"><%=appointment.date.strftime("%A %B %d, %Y")%></h6>
                                    <h6><%=appointment.date.strftime("%l:%M %p")%></h6>
                                </div>
                                <div class="card-action">
                                <a href="/appointments/<%=appointment.id%>/edit" class="btn-small">Edit Appointment</a>
                                <a href="/clients/<%=appointment.client.id%>" class="btn-small">View Client</a>
                                </div>
                            <div class="card-reveal">
                                <span class="card-title">
                                <i class="material-icons right">close</i></span>
                                <p><u>Services:</u></p>
                                <%appointment.services.each do |service|%>
                                <p><%=service.name.capitalize%> : $<%='%.2f' % service.price.to_f%></p>
                                <%end%>
                                <h5 class="total">Total: $<%='%.2f' % appointment.total.to_f%></h5>
                            </div>
                            </div>
                        </div>
                    <%end%>
                </div>
            <% end %>
    <% end %>


   
</div>