<div class="container">
    <div class="row center top-spaced">
        <div class="card grey lighten-3 client-card">
            <header class="container client-card-name">
                <h2><%=@provider.business_name%></h2>
            </header>
            <h4>Owner: <%=@provider.name%></h4>
            <h4>Phone number: <%=@provider.phone_number%></h4>
            <h4>Address: <%=@provider.location%></h4>
        </div>
    </div>
</div>

<div class="container services">
    
    <div class="row center">
        <h3>Services:</h3>
        <%@provider.services.each do |service|%>
            <div class="col s12 m6 center-align">
            <div class="card grey lighten-3 service-card">
                <span class="card-title"><u><%=service.name%></u></span>
                <div class="card-content">
                    <p class="flex-text"><%=service.description%></p>
                    <h5>$<%='%.2f' % service.price.to_f%></h5>  
                </div>
            </div>
        </div>
        <%end%>
        
    </div>
    <div class="row center">
    <a class="btn-large"style="margin-bottom: 150px;" href="">Book an Appointment</a>
    </div>

    
</div>
    