<div class="container">
    <div class="row center top-spaced">
       <div class="row center">
        <h2>Hello, <%=current_user.name%>!</h2>
        <a class="btn-small" href="/clients/<%=current_user.id%>/edit">Edit My Info</a>
       </div>
       <div class="row center">
        
       </div>
       <%if current_user.appointments.empty?%>
         <div class="row center">
            <p class="flow-text">You don't currently have any appointments!</p>
            <p class="flow-text"><a href="/providers">Search for a Provider</a> to set up your next appointment.</p>
       </div>
       <%else%>
       <div class="row center">
            <p class="flow-text">Here is a list of all of your upcoming appointments:</p>
       </div>
       

       <%current_user.appointments.each do |appointment|%>
       <div class="row center">
    
                <div class="card grey lighten-3 appointment-card">
                    <span class="card-title"><%=appointment.provider.business_name%></span>
                    <p>Date: <%=appointment.date.strftime("%A %D")%></p>
                    <p>Time: <%=appointment.date.strftime("%r")%></p>
                    <p><u>Services:</u></p>
                    <%appointment.services.each do |service|%>
                    <p><%=service.name.capitalize%> : $<%='%.2f' % service.price.to_f%></p>
                    <%end%>
                    <p>Total: $<%='%.2f' % appointment.total.to_f%></p>
                      <div class="card-action">
                            <a class="btn-large" href="#">Edit Appointment</a>
                            <a class="btn-large" href="/providers/<%=appointment.provider.id%>">View Provider</a>
                      </div>
                </div>
       </div>
       <%end%>
       <%end%>
    </div>
        
</div>